<footer class="footer p-10 bg-blue-700  text-white">
    <div class="container w-[85%] m-auto">
        <div class="footerImage w-[32%] m-auto">
            <img class="w-full" src="/REDICC-it.webp" alt="">
        </div>
        <div class="icons flex justify-center gap-6 text-2xl mt-4">
            <i class="p-0 fa-brands fa-facebook-f hover:text-black transition-all"></i>
            <i class="p-0 fa-brands fa-x-twitter hover:text-black transition-all"></i>
            <i class="p-0 fa-brands fa-instagram hover:text-black transition-all"></i>
            <i class="p-0 fa-brands fa-linkedin-in hover:text-black transition-all"></i>
            <i class="p-0 fa-brands fa-whatsapp hover:text-black transition-all"></i>
        </div>
    </div>
    <br>
    <hr>
    <div class="title text-center mt-4">
        <p class="text-xl font-bold">copy right | 2025 | mada</p>
    </div>
</footer>