<footer class="footer p-10 bg-neutral-100  text-white">
    <div class="container w-[85%] m-auto">
        <div class="footerImage w-[32%] m-auto">
            <img class="w-full" src="/تصميم_بدون_عنوان__58_-removebg-preview[1].png" alt="">
        </div>
        <div class="icons flex justify-center gap-6 text-2xl mt-4">
            <i
                class="p-0 fa-brands fa-facebook-f text-amber-500 hover:text-white hover:bg-amber-500 transition-all"></i>
            <i class="p-0 fa-brands fa-x-twitter text-amber-500 hover:text-white hover:bg-amber-500 transition-all"></i>
            <i class="p-0 fa-brands fa-instagram text-amber-500 hover:text-white hover:bg-amber-500 transition-all"></i>
            <i
                class="p-0 fa-brands fa-linkedin-in text-amber-500 hover:text-white hover:bg-amber-500 transition-all"></i>
            <i class="p-0 fa-brands fa-whatsapp text-amber-500 hover:text-white hover:bg-amber-500  transition-all"></i>
        </div>
    </div>

    <div class="title text-center mt-4">
        <p class="text-xl text-amber-500 font-bold">copy right | 2025 | mada</p>
    </div>
</footer>